 <div class="bottomWidget" color=white background=#72777F margin-top=100px>
    <p>
	Creating applications and systems for businesses in Northern Virginia Since 2014pm2 ls
    </p>

<hr>
    <p align="center">
    Contact
    mreyes703@gmail.com
    </p>
    <p align="center">
    copyright mreyesio 2017
    </p>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>