
body { 
    padding-top: 5px;
    padding-bottom: 5px;}
.jumbotron {
  color: #243541 ;
  background: #243541 ;
  text-align:center;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.jumbotro img{
  display: block;
  margin-right: auto;
  margin-left: auto;

}
.navbar-default {
  background: #243541 ;
  color: white;
}
.navbar-default .navbar-brand, .navbar-inverse a{
  color:white;
}
.navbar-default .navbar-nav>li>a {
  color: white;
} 
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #243541;
    color: grey;
}

 