<% include partials/header%>
         

<div class="cityIcon">
  Technologies Used
</div>

    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img class="rowsize" src="/dev.png" >
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img class="rowsize" src="/Linux.jpg">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail" >
          <img class="rowsize" src="/and.png" >
        </div>
      </div>

    </div>
<div class="cityIcon">
  Projects 
</div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/rcustompage.PNG" >
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img src="/shres.PNG">
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail" >
          <img src="/shnc.PNG" >
        </div>
      </div>

    </div>   


<% include partials/footer%>


